<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>

      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>

      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
      <button class="button is-danger has-text-white" style="margin-top: 24px;" (click)="onSignOutButtonClicked()">
        Sign out</button>

    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="!isOnListsPage">
        <div class="top-bar">
          <div class="list-menu-mobile" id="list-menu-mobile">
            <button class="button is-medium" (click)=listMenuClicked()>Lists</button>
            <div class="list-menu-mobile-container" *ngIf='isListsButtonClicked'>
              <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
                routerLinkActive="is-active">
                <p>{{ list.title }}</p>
              </a>
            </div>
          </div>
          <h1 class="title has-text-primary" id="tasks-title">
            Tasks
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button list-settings" aria-haspopup="true">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content dropdown-animation">
                <a class="dropdown-item" [routerLink]="['/edit-list', selectedListId]">Edit List Name</a>
                <a class="dropdown-item has-text-danger" (click)=onDeleteListClick()>Delete List</a>
              </div>
            </div>
          </div>

        </div>

        <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)"
          [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-buttons">
            <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]" id="edit-button">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>
            <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
          </div>
        </div>

        <div *ngIf="tasks !== undefined">
          <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the add button to
            create
            a new task.</h3>
        </div>

        <div *ngIf="listMenuMobile">
          <button class="button is-primary has-text-white" id="add-list" routerLink="/new-list">+ New List</button>
          <button class="button is-danger has-text-white" (click)="onSignOutButtonClicked()">
            Sign out</button>
        </div>


        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.svg" class="has-text-white">
        </button>
      </div>

      <div *ngIf="isOnListsPage">
        <h3 class="empty-state-text">Please select a list</h3>
        <div class="list-menu-mobile" id="list-menu-mobile">
          <button class="button is-medium" (click)=listMenuClicked()>Lists</button>
          <div class="list-menu-mobile-container" *ngIf='isListsButtonClicked'>
            <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
              routerLinkActive="is-active">
              <p>{{ list.title }}</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>